<?xml version="1.0" encoding="utf-8"?>
<configuration>
		<packageSources>
				<add key="github" value="https://nuget.pkg.github.com/%GITHUB_USERNAME%/index.json" />
		</packageSources>
		<packageSourceCredentials>
				<github>
						<add key="Username" value="%GITHUB_USERNAME%" />
						<add key="ClearTextPassword" value="%GITHUB_TOKEN%" />
				</github>
		</packageSourceCredentials>
		<packageSourceMapping>
				<packageSource key="nuget.org">
						<package pattern="*" />
				</packageSource>
				<packageSource key="github">
						<package pattern="Utils" />
				</packageSource>
				<packageSource key="mygithub">
						<package pattern="Utils" />
				</packageSource>
		</packageSourceMapping>
</configuration>